@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --news-color: #eb0000;
    --health-color: #149edc;
    --tech-color: #0068ff;
    --sport-color: #ffd230;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    font-size: 62.5%;
}

article {
    margin: 0 auto;
    grid-area: article;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article img {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}

article h2 {
    font-size: 2rem;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

article p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    text-justify: inter-word;
}


main {
    width: 85%;
    padding-bottom: 1rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 18.75rem;
    grid-template-areas: "article aside";
    grid-gap: 4vw;
}
main aside {
    grid-area: aside;
    order: 2;
}

main aside .image-container {
    position: relative;
    display: inline-block;
}

main aside img {
    display: block;
    width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .image-text {
    opacity: 1;
}

main article div {
    margin-bottom: 20px;
    width: 90%;
}
.orbit-logo a svg path {
    fill: #000;
}


.orbit-header-container {
    background-color: #fff;
    box-shadow: rgba(255, 000, 000, .15) 0 0.0625rem 0;
    background: #fff;
    position: relative;
    min-height: 4rem;
    width: 100%;
}

.second-header-container {
    position: relative;
    min-height: 5rem;
    width: 100%;
}

.News {
    background-color: var(--news-color);
}

.Sport {
    background-color: var(--sport-color);
}

.Tech {
    background-color: var(--tech-color);
}

.Health {
    background-color: var(--health-color);
}

.orbit-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.orbit-nav {
    min-height: 4rem;
    width: 100%;
}

.orbit-nav-container {
    min-height: 4rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1px;
    height: 100%;
    width: 85%;
}

.second-nav-container {
    min-height: 4rem;
    margin: 0 auto;
    padding-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1px;
    height: 100%;
    width: 85%;

}

.orbit-logo {
    order: -1;
    margin-right: calc(1/8 * 1rem);
}

.orbit-logo a {
    display: block;
    position: relative;
    text-decoration: none;
    max-width: 800px;
}

.orbit-nav-links {
    width: 100%;
    height: 4rem;
}

.orbit-nav-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
    font-weight: 700;
}

.orbit-nav-links ul li {
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    position: relative;
    text-transform: uppercase;
    height: 100%;
    cursor: pointer;
}
a{
    text-decoration: none;
}


.orbit-nav-links ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    padding: 0 0.25rem;
    text-decoration: inherit;
    border: 0;
    margin: 0;
    font: inherit;
    color: #000;
    position: relative;
}

.orbit-nav-links ul li a span {
    display: inline-block;
    text-decoration: none;
    position: relative;
    bottom: -0.0625rem;
    width: 100%;
}

.orbit-nav-links ul li a span::after {
    content: "";
    display: block;
    width: 0;
    height: 0.125rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: width .5s, opacity .5s;
}


.orbit-nav-links ul li:hover a span::after {
    transition: width .5s, opacity .5s;
    opacity: 1;
    width: 100%;
    cursor: pointer;
}

.orbit-nav-links ul li:hover .home span::after {
    background-color: #000;
}

.orbit-nav-links ul li:hover .news span::after {
    background-color: var(--news-color);
}

.orbit-nav-links ul li:hover .health span::after {
    background-color: var(--health-color);
}

.orbit-nav-links ul li:hover .tech span::after {
    background-color: var(--tech-color);
}

.orbit-nav-links ul li:hover .sport span::after {
    background-color: var(--sport-color);
}


.main-container-title-h2 span
{
    position: relative;
}