@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --news-color: #eb0000;
    --health-color: #149edc;
    --tech-color: #0068ff;
    --sport-color: #ffd230;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    font-size: 62.5%;
}

.orbit-header-container {
    background-color: #000;
    box-shadow: rgba(255, 255, 255, .15) 0 0.0625rem 0;
    background: #000;
    position: relative;
    min-height: 4rem;
    width: 100%;
}

.orbit-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.orbit-nav {
    min-height: 4rem;
    width: 100%;
}

.orbit-nav-container {
    min-height: 4rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1px;
    height: 100%;
    width: 85%;

}

.orbit-logo {
    order: -1;
    margin-right: calc(1/8 * 1rem);
}

.orbit-logo a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #212121;
}

.orbit-logo a svg {
    width: 112;
    height: 32;
    fill: none;
}

.orbit-logo a svg :not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.orbit-logo a svg path {
    fill: #fff;
}

.orbit-nav-links {
    width: 100%;
    height: 4rem;
}

.orbit-nav-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
    font-weight: 700;
}

.orbit-nav-links ul li {
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    position: relative;
    text-transform: uppercase;
    height: 100%;
    cursor: pointer;
}

.orbit-nav-links ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    padding: 0 0.25rem;
    text-decoration: inherit;
    border: 0;
    margin: 0;
    font: inherit;
    color: #fff;
    position: relative;
}

.orbit-nav-links ul li a span {
    display: inline-block;
    text-decoration: none;
    position: relative;
    bottom: -0.0625rem;
    width: 100%;
}

.orbit-nav-links ul li a span::after {
    content: "";
    display: block;
    width: 0;
    height: 0.125rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: width .5s, opacity .5s;
}


.orbit-nav-links ul li:hover a span::after {
    transition: width .5s, opacity .5s;
    opacity: 1;
    width: 100%;
    cursor: pointer;
}

.orbit-nav-links ul li:hover .home span::after {
    background-color: #fff;
}

.orbit-nav-links ul li:hover .news span::after {
    background-color: var(--news-color);
}

.orbit-nav-links ul li:hover .health span::after {
    background-color: var(--health-color);
}

.orbit-nav-links ul li:hover .tech span::after {
    background-color: var(--tech-color);
}

.orbit-nav-links ul li:hover .sport span::after {
    background-color: var(--sport-color);
}

.main-container {
    padding-bottom: 1rem;
    margin: 2rem auto;
    width: 85%;
}

.main-container-title {
    padding-bottom: 1rem;
}

.main-container .main-container-title h2 {
    color: #8c8c8c;
    text-align: right;
    font-size: 1.375rem;
    font-weight: normal;
    padding-bottom: 1rem;
}

.main-container .main-container-title h2 span {
    color: #4a4a4a;
    font-weight: bold;
    float: left;
}

.main-news,
.main-health,
.main-tech,
.main-sport {
    margin-bottom: 2rem;
}

.main-news .title-news,
.main-health .title-health,
.main-tech .title-tech,
.main-sport .title-sport {
    display: flex;
    flex-direction: left;
    align-items: center;
    margin-bottom: 1rem;
}

.main-news .title-news a,
.main-health .title-health a,
.main-tech .title-tech a,
.main-sport .title-sport a {
    display: inline-block;
    color: #4a4a4a;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.main-news .title-news a::before,
.main-health .title-health a::before,
.main-tech .title-tech a::before,
.main-sport .title-sport a::before {
    content: "";
    margin-right: 0.5rem;
    border-left: .250rem solid var(--news-color);
    padding: 0;
    width: 0;
}

.main-health .title-health a::before {
    border-left: .250rem solid var(--health-color);
}

.main-tech .title-tech a::before {
    border-left: .250rem solid var(--tech-color);
}

.main-sport .title-sport a::before {
    border-left: .250rem solid var(--sport-color);
}


.main-news .title-news a:hover::before,
.main-health .title-health a:hover::before,
.main-tech .title-tech a:hover::before,
.main-sport .title-sport a:hover::before {
    transition: width .5s;
    width: 1rem;
}

.main-news .title-news a:hover,
.main-health .title-health a:hover,
.main-tech .title-tech a:hover,
.main-sport .title-sport a:hover {
    color: var(--news-color);
}

.main-health .title-health a:hover {
    color: var(--health-color);
}

.main-tech .title-tech a:hover {
    color: var(--tech-color);
}

.main-sport .title-sport a:hover {
    color: var(--sport-color);
}



.main-news-content,
.main-health-content,
.main-tech-content,
.main-sport-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}

.main-news-item h3,
.main-health-item h3,
.main-tech-item h3,
.main-sport-item h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #4a4a4a;
    margin: 0.5rem 0;
    width: 400px;

}

.main-news-item p,
.main-health-item p,
.main-tech-item p,
.main-sport-item p {
    font-size: 1rem;
    color: #4a4a4a;
    margin-top: 0.5rem;
    line-height: 1.2rem;
    margin-bottom: 2rem;
    width: 400px;

}

.main-news-item-tag a,
.main-health-item-tag a,
.main-tech-item-tag a,
.main-sport-item-tag a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: #4a4a4a;
    text-decoration: none;
    margin-bottom: 1rem;

}

.main-news-item-tag a:hover,
.main-health-item-tag a:hover,
.main-tech-item-tag a:hover,
.main-sport-item-tag a:hover {
    color: var(--news-color);
}

.main-health-item-tag a:hover {
    color: var(--health-color);
}

.main-tech-item-tag a:hover {
    color: var(--tech-color);
}

.main-sport-item-tag a:hover {
    color: var(--sport-color);
}



.main-news-item-tag a::before,
.main-health-item-tag a::before,
.main-tech-item-tag a::before,
.main-sport-item-tag a::before {
    content: "";
    display: inline-block;
    height: 0.75rem;
    margin-right: 0.5rem;
    border-left: .13125rem solid var(--news-color);
    margin-top: 1rem;
}

.main-health-item-tag a::before {
    border-left: .13125rem solid var(--health-color);
}

.main-tech-item-tag a::before {
    border-left: .13125rem solid var(--tech-color);
}

.main-sport-item-tag a::before {
    border-left: .13125rem solid var(--sport-color);
}