        :root {
            --primary-color: #333;
            --secondary-color: #444;
            --tertiary-color: #555;
            --quaternary-color: #666;
            --quinary-color: #777;
            --senary-color: #888;
            --septenary-color: #999;
            --octonary-color: #aaa;
            --nonary-color: #bbb;
            --denary-color: #ccc;
            --light-color: #fff;
        }

        /* Basic styling */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: content-box;
        }

        .container {
            position: relative;
        }

        header {
            background-color: var(--primary-color);
            color: var(--light-color);
            padding: 10px;
            text-align: center;
        }

        nav {
            background-color: var(--secondary-color);
            color: var(--light-color);
            padding: 5px;
            top: 0;
            position: sticky;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        nav ul li {
            display: inline;
        }


        nav ul li a {
            color: var(--light-color);
            text-decoration: none;
        }


        nav ul li a:hover {
            padding: 5px;
            border-radius: 15%;
            font-weight: 600;
        }



        section {
            margin: 20px;
        }

        article {
            margin-bottom: 20px;
            border-bottom: 1px solid var(--primary-color);
            padding-bottom: 10px;
            overflow: hidden;
        }

        article img {
            float: left;
            margin-right: 10px;
        }

        footer {
            background-color: var(--primary-color);
            color: var(--light-color);
            text-align: center;
            padding: 10px;
            height: 2rem;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        footer p {
            margin: 0;
        }

        .clear {
            clear: both;
        }

        section :nth-last-child(1) {
            border-bottom: none;
            margin: 0;
        }